In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import timedelta, date

For each year, upload all the bands

In [2]:
year = 2018

Read all the bands

In [55]:
in_bands = []
total_weeks = 26

for i in range(1, total_weeks+1):
    csv_input = pd.read_csv("ndvi_2018_zonal_band_grid"+str(i)+".csv", encoding= 'unicode_escape')
    csv_input.rename(columns={"id": "Grid_id", "_mean":"NDVI"}, inplace=True)
    csv_input['band'] = i
    in_bands.append(csv_input)

Display bands

In [56]:
len(in_bands)

26

In [4]:
month = 4
day = 6
date =  datetime.datetime(year, month, day-1)

print(date)

2018-04-05 00:00:00

In [58]:
month = 4
day = 6
date =  datetime.datetime(year, month, day-1)
temp = []
for i in range(1, total_weeks+1):
    for j in range(7):
        copy = in_bands[i-1].copy(deep = False)
        date =  (date+ timedelta(days=1))
        copy['date'] = date
        temp.append(copy)

In [66]:
month = 3
day = 31
date =  datetime.datetime(year, month, day)
april_1_5 = []
for i in range(5):
    copy = in_bands[0].copy(deep = False)
    date =  (date+ timedelta(days=1))
    copy['date'] = date
    april_1_5.append(copy)

In [69]:
month = 10
day = 4
date =  datetime.datetime(year, month, day)
oct_5_31 = []
for i in range(27):
    copy = in_bands[25].copy(deep = False)
    date =  (date+ timedelta(days=1))
    copy['date'] = date
    oct_5_31.append(copy)

In [81]:
april_start = pd.concat(april_1_5, axis = 0, ignore_index = True)

In [82]:
april_oct = pd.concat(temp, axis=0, ignore_index=True)

In [83]:
oct_end = pd.concat(oct_5_31, axis = 0, ignore_index = True)

In [84]:
output= pd.concat([top, all_bands, bottom], axis=0, ignore_index=True)

In [89]:
output

           Grid_id          NDVI       date
0           682187  10031.230796 2018-04-01
1           682188  10107.878808 2018-04-01
2           682189  10128.845456 2018-04-01
3           682190  10100.401407 2018-04-01
4           682191  10077.864084 2018-04-01
...            ...           ...        ...
142283031    21462  12776.712569 2018-10-31
142283032    21463  12844.780542 2018-10-31
142283033    21464  12901.070804 2018-10-31
142283034    21465  12344.887176 2018-10-31
142283035    21466  12276.415099 2018-10-31

[142283036 rows x 3 columns]

In [88]:
output.drop('band', inplace=True, axis=1)

In [90]:
output.to_csv('NDVI_2018.csv', index=False)

In [91]:
ndvi_2018_input = pd.read_csv("NDVI_2018.csv", encoding= 'unicode_escape')

In [92]:
ndvi_2018_input

           Grid_id          NDVI        date
0           682187  10031.230796  2018-04-01
1           682188  10107.878808  2018-04-01
2           682189  10128.845456  2018-04-01
3           682190  10100.401407  2018-04-01
4           682191  10077.864084  2018-04-01
...            ...           ...         ...
142283031    21462  12776.712569  2018-10-31
142283032    21463  12844.780542  2018-10-31
142283033    21464  12901.070804  2018-10-31
142283034    21465  12344.887176  2018-10-31
142283035    21466  12276.415099  2018-10-31

[142283036 rows x 3 columns]