In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import timedelta, date

from datetime import datetime

In [2]:
csv_input = pd.read_csv("fires_2006to2018.csv", encoding = 'unicode_escape')
csv_input

,fire_number,fire_name,fire_year,calendar_year,assessment_datetime,assessment_hectares,current_size,size_class,fire_location_latitude,fire_location_longitude,...,fuel_type,other_fuel_type,bh_fs_date,bh_hectares,uc_fs_date,uc_hectares,to_fs_date,to_hectares,ex_fs_date,ex_hectares
0,CWF001,NaN,2006,2006,2006-04-02 16:00,0.20,0.20,B,51.152933,-115.034600,...,O1b,NaN,2006-04-02 16:00,0.20,2006-04-02 16:00,0.20,NaN,NaN,2006-04-03 18:00,0.20
1,CWF002,NaN,2006,2006,2006-04-03 16:45,0.01,0.01,A,51.157633,-115.002133,...,O1b,NaN,2006-04-03 16:45,0.01,2006-04-03 16:45,0.01,NaN,NaN,2006-04-03 16:50,0.01
2,CWF003,NaN,2006,2006,2006-04-08 20:05,0.01,0.01,A,51.194400,-114.516167,...,NaN,Campfire,2006-04-08 20:05,0.01,2006-04-08 20:05,0.01,NaN,NaN,2006-04-09 20:30,0.01
3,CWF004,NaN,2006,2006,2006-04-13 18:20,0.75,0.75,B,51.125617,-114.841683,...,O1a,NaN,2006-04-13 18:20,0.75,2006-04-13 18:20,0.75,NaN,NaN,2006-04-13 20:00,0.75
4,CWF005,NaN,2006,2006,2006-04-14 17:25,0.01,0.01,A,50.409833,-114.478967,...,O1a,NaN,2006-04-14 17:25,0.01,2006-04-14 17:25,0.01,NaN,NaN,2006-04-14 17:40,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19839,WWF051,NaN,2018,2018,2018-07-29 17:39,0.01,0.01,A,54.626783,-115.598067,...,C2,NaN,2018-07-29 18:40,0.01,2018-07-29 20:20,0.01,NaN,NaN,2018-07-29 20:53,0.01
19840,WWF052,NaN,2018,2018,2018-08-20 12:09,0.01,0.01,A,54.350250,-115.083683,...,NaN,Duff,2018-08-20 12:09,0.01,2018-08-20 14:05,0.01,2018-08-20 14:15,0.01,2018-08-21 14:09,0.01
19841,WWF053,NaN,2018,2018,2018-10-22 14:45,0.01,0.01,A,54.022550,-115.668667,...,D1,NaN,2018-10-22 14:45,0.01,2018-10-22 14:46,0.01,2018-10-22 15:30,0.01,2018-10-23 15:54,0.01
19842,WWF054,NaN,2018,2018,2018-10-23 15:45,0.01,0.01,A,54.023100,-115.669533,...,NaN,Abandoned Campfire,2018-10-23 15:45,0.01,2018-10-23 15:45,0.01,NaN,NaN,2018-10-23 16:00,0.01
19843,WWF055,NaN,2018,2018,2018-10-26 16:45,0.01,0.01,A,54.129350,-115.374983,...,M1,NaN,2018-10-26 16:45,0.01,2018-10-26 16:45,0.01,2018-10-26 16:45,0.01,2018-10-29 13:30,0.01

In [8]:
df = csv_input.groupby(['fire_year'])['fire_year'].count()


df
# csv_input = csv_input.dropna(subset=['general_cause_desc'])
# csv_input[csv_input['general_cause_desc'].str.contains("Lightning")][['general_cause_desc']]

fire_year
2006    1954
2007    1349
2008    1712
2009    1710
2010    1840
2011    1218
2012    1568
2013    1226
2014    1470
2015    1898
2016    1376
2017    1244
2018    1279
Name: fire_year, dtype: int64

In [ ]:
#   for DOCUMENTATION
csv_input = pd.read_csv("fires_2006to2018.csv", encoding = 'unicode_escape')
year = 2016
# change year manually here
output = csv_input.query('fire_year == 2016')[[ 'fire_start_date','assessment_datetime',
                                               'fire_location_latitude', 'fire_location_longitude']]

output.rename(columns={"fire_location_latitude":"latitude", "fire_location_longitude":"longitude",
                       "fire_start_date": "date", 'assessment_datetime':"assessment_datetime"}, inplace=True)

#for the files from 2000 to 2005 the date column was stores as string, so converted to datetime format
output['date'] = pd.to_datetime(output['date'], format='%Y-%m-%d')
output.to_csv('fires_'+str(year)+'_n.csv', index = False, date_format='%Y-%m-%d')

In [4]:
year = 2016

In [5]:
# ************************CHANGE YEAR MANUALLY HERE *******************************
output = csv_input.query('fire_year == 2018')[[ 'fire_start_date','assessment_datetime', 'fire_location_latitude', 'fire_location_longitude']]
output.rename(columns={"fire_location_latitude":"latitude", "fire_location_longitude":"longitude", "fire_start_date": "date", 'assessment_datetime':"assessment_datetime"}, inplace=True)

# ******************* for the files from 2000 to 2005 the date column was stores as string, so it was neccessary to convert that to datetime format********************#
#****************** This step can be avoided for other years, as the variable is already in datetime format**************************#
output['date'] = pd.to_datetime(output['date'], format='%Y-%m-%d')

print (output)
print (output.dtypes)

#output.to_csv('fires_'+str(year)+'_n.csv', index = False, date_format='%Y-%m-%d')
output.head()

                     date assessment_datetime   latitude   longitude
18565 2018-04-14 15:00:00    2018-04-14 17:10  49.573420 -114.363340
18566 2018-04-14 15:00:00    2018-04-14 17:25  49.573420 -114.363340
18567 2018-04-24 13:00:00    2018-04-24 14:10  51.183467 -114.525467
18568 2018-04-22 12:00:00    2018-04-26 15:25  49.690832 -113.964052
18569 2018-04-28 12:15:00    2018-04-28 13:54  51.615800 -115.389017
...                   ...                 ...        ...         ...
19839 2018-07-29 16:58:00    2018-07-29 17:39  54.626783 -115.598067
19840 2018-08-09 12:00:00    2018-08-20 12:09  54.350250 -115.083683
19841 2018-10-22 09:00:00    2018-10-22 14:45  54.022550 -115.668667
19842                 NaT    2018-10-23 15:45  54.023100 -115.669533
19843 2018-10-26 09:00:00    2018-10-26 16:45  54.129350 -115.374983

[1279 rows x 4 columns]
date                   datetime64[ns]
assessment_datetime            object
latitude                      float64
longitude                     float64
dtype: object

                     date assessment_datetime   latitude   longitude
18565 2018-04-14 15:00:00    2018-04-14 17:10  49.573420 -114.363340
18566 2018-04-14 15:00:00    2018-04-14 17:25  49.573420 -114.363340
18567 2018-04-24 13:00:00    2018-04-24 14:10  51.183467 -114.525467
18568 2018-04-22 12:00:00    2018-04-26 15:25  49.690832 -113.964052
18569 2018-04-28 12:15:00    2018-04-28 13:54  51.615800 -115.389017

In [87]:
print(csv_input.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11352 entries, 0 to 11351
Data columns (total 39 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   fire_number                   11352 non-null  object
 1   fire_name                     124 non-null    object
 2   fire_year                     11352 non-null  int64
 3   calendar_year                 11352 non-null  int64
 4   assessment_datetime           11352 non-null  object
 5   assessment_hectares           11351 non-null  float64
 6   current_size                  11351 non-null  float64
 7   size_class                    11352 non-null  object
 8   fire_location_latitude        11352 non-null  float64
 9   fire_location_longitude       11352 non-null  float64
 10  fire_origin                   11352 non-null  object
 11  general_cause_desc            11352 non-null  object
 12  industry_identifier_desc      638 non-null    object
 13  responsible_group_desc        4867 non-null   object
 14  activity_class                5094 non-null   object
 15  true_cause                    5095 non-null   object
 16  permit_detail_desc            0 non-null      float64
 17  fire_start_date               11348 non-null  object
 18  det_agent_type                11351 non-null  object
 19  det_agent                     11351 non-null  object
 20  discovered_date               11319 non-null  object
 21  reported_date                 11351 non-null  object
 22  start_for_fire_date           9692 non-null   object
 23  fire_fighting_start_date      9659 non-null   object
 24  fire_fighting_start_size      9677 non-null   float64
 25  initial_action_by             11351 non-null  object
 26  fire_type                     11352 non-null  object
 27  fire_position_on_slope        11341 non-null  object
 28  weather_conditions_over_fire  11349 non-null  object
 29  fuel_type                     10518 non-null  object
 30  other_fuel_type               2449 non-null   object
 31  bh_fs_date                    11348 non-null  object
 32  bh_hectares                   11348 non-null  float64
 33  uc_fs_date                    11347 non-null  object
 34  uc_hectares                   11347 non-null  float64
 35  to_fs_date                    1022 non-null   object
 36  to_hectares                   1022 non-null   float64
 37  ex_fs_date                    11351 non-null  object
 38  ex_hectares                   11351 non-null  float64
dtypes: float64(10), int64(2), object(27)
memory usage: 3.4+ MB
None

In [88]:
csv_input['fire_start_date'] = pd.to_datetime(csv_input['fire_start_date'])
csv_input['assessment_datetime'] = pd.to_datetime(csv_input['assessment_datetime'])
csv_input['fire_start_date'] = csv_input['fire_start_date'].dt.date
csv_input['assessment_datetime'] = csv_input['assessment_datetime'].dt.date

In [89]:
csv_input['assessment_datetime'].equals(csv_input['fire_start_date'])

False

In [90]:
np.count_nonzero(csv_input.assessment_datetime != csv_input.fire_start_date)

3461

In [26]:
i = np.where(csv_input.assessment_datetime != csv_input.fire_start_date)
i

(array([   13,    34,    40, ..., 19837, 19840, 19842], dtype=int64),)

In [38]:
csv_input.count()

fire_number                     19844
fire_name                         513
fire_year                       19844
calendar_year                   19844
assessment_datetime             19844
assessment_hectares             19844
current_size                    19844
size_class                      19844
fire_location_latitude          19844
fire_location_longitude         19844
fire_origin                     19834
general_cause_desc              19844
industry_identifier_desc          340
responsible_group_desc           8390
activity_class                  12123
true_cause                      10854
permit_detail_desc               1078
fire_start_date                 19299
det_agent_type                  19843
det_agent                       19843
discovered_date                 17179
reported_date                   19843
start_for_fire_date             19844
fire_fighting_start_date        14565
fire_fighting_start_size        14565
initial_action_by               19844
fire_type                       17591
fire_position_on_slope          17500
weather_conditions_over_fire    17495
fuel_type                       13804
other_fuel_type                  3769
bh_fs_date                      19844
bh_hectares                     19844
uc_fs_date                      19844
uc_hectares                     19844
to_fs_date                       2134
to_hectares                      2134
ex_fs_date                      19844
ex_hectares                     19844
dtype: int64

In [37]:
np.isnat(csv_input.fire_start_date)

TypeError: ufunc 'isnat' is only defined for datetime and timedelta.

In [30]:
csv_input.iloc[19842]

fire_number                                  WWF054
fire_name                                       NaN
fire_year                                      2018
calendar_year                                  2018
assessment_datetime                      2018-10-23
assessment_hectares                            0.01
current_size                                   0.01
size_class                                        A
fire_location_latitude                      54.0231
fire_location_longitude                 -115.669533
fire_origin                            Private Land
general_cause_desc                         Resident
industry_identifier_desc                        NaN
responsible_group_desc                          NaN
activity_class                  Cooking and Warming
true_cause                              Unsafe Fire
permit_detail_desc                              NaN
fire_start_date                                 NaT
det_agent_type                                  UNP
det_agent                                       LFS
discovered_date                    2018-10-23 15:15
reported_date                      2018-10-23 15:15
start_for_fire_date                2018-10-23 15:15
fire_fighting_start_date           2018-10-23 15:45
fire_fighting_start_size                       0.01
initial_action_by                         FPD Staff
fire_type                                   Surface
fire_position_on_slope                         Flat
weather_conditions_over_fire                  Clear
fuel_type                                       NaN
other_fuel_type                  Abandoned Campfire
bh_fs_date                         2018-10-23 15:45
bh_hectares                                    0.01
uc_fs_date                         2018-10-23 15:45
uc_hectares                                    0.01
to_fs_date                                      NaN
to_hectares                                     NaN
ex_fs_date                         2018-10-23 16:00
ex_hectares                                    0.01
Name: 19842, dtype: object

In [11]:
np.count_nonzero(csv_input.general_cause_desc == "Lightning")

7061

In [12]:
np.count_nonzero(csv_input.general_cause_desc == "Resident")

3518

In [13]:
np.count_nonzero(csv_input.general_cause_desc == "Recreation")

4598

In [14]:
np.count_nonzero(csv_input.general_cause_desc == "Incendiary")

1598

In [15]:
np.count_nonzero(csv_input.general_cause_desc == "Oil & Gas Industry")

362

In [16]:
np.count_nonzero(csv_input.general_cause_desc == "Power Line Industry")

924

                    date   latitude   longitude
0    2006-04-02 14:25:00  51.152933 -115.034600
1    2006-04-03 15:30:00  51.157633 -115.002133
2    2006-04-08 19:00:00  51.194400 -114.516167
3    2006-04-13 17:33:00  51.125617 -114.841683
4    2006-04-14 15:17:00  50.409833 -114.478967
...                  ...        ...         ...
1949 2006-09-01 12:00:00  54.697817 -116.218083
1950 2006-10-04 15:58:00  54.068434 -115.668980
1951 2006-10-05 14:45:00  54.651933 -115.460117
1952 2006-10-25 17:30:00  54.619465 -115.516485
1953 2006-12-18 20:15:00  54.492152 -115.352502

[1954 rows x 3 columns]
date         datetime64[ns]
latitude            float64
longitude           float64
dtype: object

                 date   latitude   longitude
0 2006-04-02 14:25:00  51.152933 -115.034600
1 2006-04-03 15:30:00  51.157633 -115.002133
2 2006-04-08 19:00:00  51.194400 -114.516167
3 2006-04-13 17:33:00  51.125617 -114.841683
4 2006-04-14 15:17:00  50.409833 -114.478967

In [44]:
fires_csv = pd.read_csv('fires_'+str(year)+'.csv', encoding= 'unicode_escape')
print(fires_csv.shape)
fires_csv

(1954, 3)

            date   latitude   longitude
0     2006-04-02  51.152933 -115.034600
1     2006-04-03  51.157633 -115.002133
2     2006-04-08  51.194400 -114.516167
3     2006-04-13  51.125617 -114.841683
4     2006-04-14  50.409833 -114.478967
...          ...        ...         ...
1949  2006-09-01  54.697817 -116.218083
1950  2006-10-04  54.068434 -115.668980
1951  2006-10-05  54.651933 -115.460117
1952  2006-10-25  54.619465 -115.516485
1953  2006-12-18  54.492152 -115.352502

[1954 rows x 3 columns]

## GRID PROCESSING
Do the QGIS processing before this step.